body
{
    overflow-x: hidden; /*fixes the page overflow issue */
}

body { margin: -2px; }

img {
    max-width: 100%;
    height: auto;
}

footer {
    font-size: small;
    font-family: Josefin Slab;
}

.bg-img {
    background-image: url('Images/homepage/space.png');

    background-size: cover;
    background-position: center;
    margin: -8px;
    padding: 210px;
}

.edcivica {
    background-color:#ede8f1;
    margin-top: 8px;
    margin-left: -8px;
    margin-right: -8px;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}

.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px; 
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
}

@media (max-width: 768px) {
    /* Reversing the behavior of the sidebar: 
       it'll be rotated vertically and off canvas by default, 
       collapsing in on toggle button click with removal of 
       the vertical rotation.   */
    #sidebar {
        margin-left: -250px;
        transform: rotateY(100deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }

    /* Reversing the behavior of the bars: 
       Removing the rotation from the first,
       last bars and reappear the second bar on default state, 
       and giving them a vertical margin */
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    padding: 8px 8px 6px;
    text-align: center;
    text-decoration: none; /* hides the underline */
    font-size: 28px;
    color: #818181;
    display: block;
    font-family: Glory;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 250px;
    font-size: 28px;
    padding: 0px 10px;
}

.years a{
    color: #37086d;
    text-decoration: none;
}

.years a:hover{
    color:blueviolet ;
}

.testi {
    font-family: Open Sans;
    font-size: 19px;
}

.pic202021 {
    width: 93%;
    height: auto;
    margin-left: 43px;
    display: flex;
}

.sidebyside {
    flex: 33.33%;
    padding: 15px;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

h2 {text-align: center;}
h3 {text-align: center;}
p {text-align: center;}
